button {
    display: block;
    margin: 40px auto;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}

.gridContainer {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    margin: 0 auto;
}

.square {
   
    border: 1px solid black;
    box-sizing: border-box;
}

